<!-- Searchbar -->
<form *ngIf="showSearchBar == true"
class="p-3 max-w-[1400px] mx-auto dark:bg-black"
 (ngSubmit)="searchOnSubmit()"

>
 <div class="relative">
   <input
     type="search"
     id="searchInput"
     class="block w-full 0 h-10 border-0 border-b-2 border-b-[rgb(0,0,0,0.3)] focus:ring-0 focus:outline-none focus:border-black tracking-wider text-lg pl-2.5 dark:text-white dark:border-b-white dark:bg-black"
     placeholder="Search artists or products..."
     required
     name="searchInput"
     [(ngModel)]="searchInput"
     (input)="onInputChange()"
   />

   <button type="submit" class="text-xgray absolute right-2.5 bottom-2.5 dark:text-white" [ngClass]="{'invisible': isInputUsed}">
     <svg
       xmlns="http://www.w3.org/2000/svg"
       fill="none"
       viewBox="0 0 24 24"
       stroke-width="1.5"
       stroke="black"
       class="w-5 h-5"
     >
       <path
         stroke-linecap="round"
         stroke-linejoin="round"
         d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
       />
     </svg>
   </button>
 </div>
</form>
