<div class="px-3 py-3 max-w-[1400px] mx-auto mt-1 lg:mt-8">

  <div class="flex flex-col items-center gap-2 px-3">

    <h4 class="text-lg font-light text-coolBlack">About Us</h4>
    <h1 class="text-xl font-semibold">Welcome to Laika Records: Where Music Meets Modern Vinyl </h1>
    <p class="text-coolBlack">Are you ready to embark on a musical journey like no other? Laika Records is your destination for all things vinyl, carefully curated for the modern music enthusiast. As a passionate music lover, I've embarked on this project to bring the warmth and nostalgia of vinyl records to the digital age.</p>


  </div>

  <div class="flex flex-col items-center gap-2 p-3">
    <h2 class="font-semibold text-lg ">Our story</h2>
    <p class="text-coolBlack">Laika Records is not just another vinyl store; it's a passion project born out of a deep love for music. Inspired by the courageous spirit of Laika, the first living creature to journey into space, we aim to explore uncharted musical territories. Our mission is to blend the timeless charm of vinyl with the convenience of modern technology, making the vinyl experience more accessible and enjoyable for everyone.</p>
  </div>
</div>
