<div class="bg-[rgb(0,15,43)] mt-[-80px]">

  <div class="w-full relative">
  <img class="z-10" src="assets/spaceBackground.jpg" alt="">
  <img class="w-[60%] md:w-[40%] absolute top-0 left-[80px] md:top-[-32%] md:left-[20%]  slide-in-left-title" src="assets/logoWhiteTransparent.png" alt="">
  </div>

  <!-- <div class="px-3 py-3 max-w-[1400px] mx-auto text-center mt-12 lg:mt-8 ">

    <h1 class="text-2xl font-semibold w-8/12 mx-auto text-white">Welcome to Laika Records: Where Music Meets Modern Vinyl </h1>


    <div class="flex flex-col items-center gap-2 px-3 slide-in-left w-[50%] mt-4">
      <h4 class="text-xl font-semibold mt-8 text-white ">About Us</h4>
      <p class="text-white text-lg">Are you ready to embark on a musical journey like no other? Laika Records is your destination for all things vinyl, carefully curated for the modern music enthusiast. As a passionate music lover, I've embarked on this project to bring the warmth and nostalgia of vinyl records to the digital age.</p>
    </div>

    <div class="flex flex-col items-center gap-2 p-3 slide-in-right w-[50%] ml-[50%]">
      <h2 class="font-semibold text-xl text-white">Our story</h2>
      <p class="text-white lg">Laika Records is not just another vinyl store; it's a passion project born out of a deep love for music. Inspired by the courageous spirit of Laika, the first living creature to journey into space, we aim to explore uncharted musical territories. Our mission is to blend the timeless charm of vinyl with the convenience of modern technology, making the vinyl experience more accessible and enjoyable for everyone.</p>
    </div>
  </div> -->



  <div class="px-3 py-3 max-w-[1400px] mx-auto text-center mt-14">

    <h1 class="text-6xl font-semibold w-10/12 mx-auto mb-12 text-white">Welcome to <span class="font-bold">Laika Records</span>:<br> Where Music Meets Modern Vinyl </h1>

    <!-- About the project -->
    <div class=" px-3  flex gap-6 items-center">
      <div class="w-[50%]  relative slide-in-left">
        <img class="rounded-2xl w-full object-cover h-72 " src="assets/space1.jpg" alt="">

        <h2 class="text-5xl font-semibold mt-8 text-white absolute z-10 top-[30%] right-[50%] translate-x-[50%]">About The Project</h2>
      </div>

      <p class="text-white text-lg slide-in-right w-[50%] px-8">Laika Records is not just another vinyl store; it's a passion project born out of a deep love for music. Inspired by the courageous spirit of Laika, the first living creature to journey into space, we aim to explore uncharted musical territories. </p>
    </div>


    <!-- Our mission -->
    <div class="flex items-center  gap-6  px-3 mt-12 slide-in-left">
      <p class="text-white text-lg slide-in-left w-[50%] px-8">Our mission is to blend the timeless charm of vinyl with the convenience of modern technology, making the vinyl experience more accessible and enjoyable for everyone.</p>
      <div class="w-[50%]  relative slide-in-right ">
        <img class="rounded-2xl w-full object-cover h-72 "  src="assets/space2.jpg" alt="">
        <h2 class="text-5xl font-semibold text-white absolute z-10 top-[65%] right-[48%] translate-x-[50%]">Our Mission</h2>
      </div>
    </div>


  </div>

</div>
