<div class="px-3 py-3 max-w-[1400px] mx-auto mt-8 flex ">
  <!-----------------------------------[ASIDE FILTER]----------------------------------->
  <aside
    [class.slide-in-left]="mobileSideStatus == 'open'"
    [class.slide-out-left]="mobileSideStatus == 'closed'"
    class="hidden px-2 lg:flex flex-col bg-white z-50 asideFilter w-full lg:max-w-[250px] lg:sticky lg:top-[120px] dark:bg-black dark:text-white transition-colors duration-700"
  >

  <button (click)="mobileSideStatus='closed'" class="text-left lg:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
    </svg>

  </button>

    <h1 class="font-light text-2xl mb-6 text-center">Filter</h1>
    <!-- FILTRI artist,genre,labe-->
    <div class="flex flex-col gap-2">
      <!-----------------------------------[ARTIST FILTER]----------------------------------->
      <!-- Dropdown button ARTIST -->
      <button
        id="dropdownSearchArtistsButton"
        data-dropdown-toggle="dropdownSearchArtists"
        data-dropdown-placement="bottom"
        class="text-black bg-white border-2 border-[rgb(0,0,0,0.3)] font-medium rounded-md px-5 py-2.5 w-full flex justify-between items-center hover:border-black focus:border-black "
        type="button"
      >
        <span>{{ artistFilterValue }}</span>
        <svg
          class="w-3 h-3 ml-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>

      <!-- Dropdown ARTIST -->
      <div
        id="dropdownSearchArtists"
        class="z-10 hidden bg-white rounded-md border-2 border-black w-11/12"
      >
        <div
          class="max-h-[300px] pt-2 px-3 pb-3 overflow-y-auto text-sm text-black flex flex-col gap-1"
          aria-labelledby="dropdownSearchArtistsButton"
        >
          <button
            (click)="filterArtist(artist)"
            *ngFor="let artist of artists"
            class=""
          >
            <div
              class="text-left pl-2 rounded text-base hover:text-white hover:bg-black"
            >
              {{ artist }}
            </div>
          </button>
        </div>
      </div>
      <!------------------------------------------------------------------->

      <!-----------------------------------[GENRE FILTER]----------------------------------->
      <!-- Dropdown button GENRE -->
      <button
        id="dropdownSearchAGenreButton"
        data-dropdown-toggle="dropdownSearchAGenre"
        data-dropdown-placement="bottom"
        class="text-black bg-white border-2 border-[rgb(0,0,0,0.3)] font-medium rounded-md px-5 py-2.5 w-full flex justify-between items-center hover:border-black focus:border-black"
        type="button"
      >
        <span>{{ genreFilterValue }}</span>
        <svg
          class="w-3 h-3 ml-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>

      <!-- Dropdown GENRES-->
      <div
        id="dropdownSearchAGenre"
        class="z-10 hidden bg-white rounded-md border-2 border-black w-11/12"
      >
        <div
          class="max-h-[300px] pt-2 px-3 pb-3 overflow-y-auto text-sm text-black flex flex-col gap-1"
          aria-labelledby="dropdownSearchGenreButton"
        >
          <button
            (click)="genreFilter(genre)"
            *ngFor="let genre of genres"
            class=""
          >
            <div
              class="text-left pl-2 rounded text-base hover:text-white hover:bg-black"
            >
              {{ genre }}
            </div>
          </button>
        </div>
      </div>
      <!------------------------------------------------------------------->

      <!-----------------------------------[LABELS FILTER]----------------------------------->
      <!-- Dropdown button LABELS -->
      <button
        id="dropdownSearchALabelButton"
        data-dropdown-toggle="dropdownSearchALabel"
        data-dropdown-placement="bottom"
        class="text-black bg-white border-2 border-[rgb(0,0,0,0.3)] font-medium rounded-md px-5 py-2.5 w-full flex justify-between items-center hover:border-black focus:border-black"
        type="button"
      >
        <span>{{ labelFilterValue }}</span>
        <svg
          class="w-3 h-3 ml-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>

      <!-- Dropdown GENRES-->
      <div
        id="dropdownSearchALabel"
        class="z-10 hidden bg-white rounded-md border-2 border-black w-11/12"
      >
        <div
          class="max-h-[300px] pt-2 px-3 pb-3 overflow-y-auto text-sm text-black flex flex-col gap-1"
          aria-labelledby="dropdownSearchALabelButton"
        >
          <button
            (click)="labelFilter(label)"
            *ngFor="let label of labels"
            class=""
          >
            <div
              class="text-left pl-2 rounded text-base hover:text-white hover:bg-black"
            >
              {{ label }}
            </div>
          </button>
        </div>
      </div>
      <!------------------------------------------------------------------->
    </div>

    <!-- Filtri most popular ecc -->
    <div class="mt-8">
      <!-----------------------------------[Most popular]----------------------------------->
      <!-- Dropdown button filtri most popular most loved -->
      <button
        id="dropdownGenericFilterButton"
        data-dropdown-toggle="dropdownGenericFilter"
        data-dropdown-placement="bottom"
        class="text-black bg-white border-2 border-[rgb(0,0,0,0.3)] font-medium rounded-md mb-1 px-5 py-2.5 w-full flex justify-between items-center hover:border-black focus:border-black"
        type="button"
      >
        <span>{{ genericFilterValue }}</span>
        <svg
          class="w-3 h-3 ml-3"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>

      <button
        (click)="resetFilter()"
        class="bg-black text-white font-light px-4 py-2 w-full rounded border-2 border-black hover:bg-white hover:text-black transition-colors  dark:bg-white dark:text-black dark:border-2 dark:border-white dark:hover:bg-black dark:hover:text-white "
      >
        Reset
      </button>

      <!-- Dropdown GENRES-->
      <div
        id="dropdownGenericFilter"
        class="z-10 hidden bg-white rounded-md border-2 border-black w-11/12"
      >
        <div
          class="max-h-[300px] pt-2 px-3 pb-3 overflow-y-auto text-sm text-black flex flex-col gap-1"
          aria-labelledby="dropdownGenericFilterButton"
        >
          <button class="">
            <div
              (click)="genericFilter('Newest released')"
              class="text-left pl-2 rounded text-base hover:text-white hover:bg-black"
            >
              Newest released
            </div>
          </button>

          <button (click)="genericFilter('Newest added')">
            <div
              class="text-left pl-2 rounded text-base hover:text-white hover:bg-black"
            >
              Newest added
            </div>
          </button>

          <button (click)="genericFilter('Most wanted')">
            <div
              class="text-left pl-2 rounded text-base hover:text-white hover:bg-black"
            >
              Most wanted
            </div>
          </button>

          <button (click)="genericFilter('Most collected')">
            <div
              class="text-left pl-2 rounded text-base hover:text-white hover:bg-black"
            >
              Most collected
            </div>
          </button>
        </div>
      </div>
      <!------------------------------------------------------------------->
    </div>
  </aside>

  <!-- Spinner -->
  <div class="pt-32 mx-auto" *ngIf="isLoading == true" id="circleG">
    <div id="circleG_1" class="circleG"></div>
    <div id="circleG_2" class="circleG"></div>
    <div id="circleG_3" class="circleG"></div>
  </div>

  <!-----------------------------------[ITEMS]----------------------------------->
  <main
    [class.hidden]="mobileSideStatus == 'open'"
    [class.block]="mobileSideStatus == 'closed'"
    class="max-w-[1100px] w-full mx-auto"
    *ngIf="items && !isLoading"
  >
    <!-- Mobile filter button -->
    <div class="mx-auto grid grid-cols-1 mb-12 gap-1 lg:hidden">
      <button
        (click)="openMobileSide()"
        class="bg-black text-white font-light px-4 py-2 w-full max-w-[180px] mx-auto sm:max-w-full border-2 border-black hover:bg-white hover:text-black dark:bg-white dark:text-black dark:hover:bg-black dark:hover:text-white dark:hover:border-white dark:hover:border-2"
      >
        Filter
      </button>
    </div>

    <div class=" grid grid-cols-2 md:grid-cols-4 xl:grid-cols-4 mx-auto">
      <!-- ITEMS -->
      <div
        *ngFor="let item of itemsOnView; index as i"
        class="mb-8 mx-auto flex flex-col gap-1 max-w-[150px] sm:max-w-[190px] md:max-w-[180px] lg:max-w-[160px] min-[1100px]:max-w-[180px] xl:max-w-[220px] min-[1400px]:max-w-[250px]"
      >
        <a routerLink="/record/{{ item.genres[0] }}/{{ item.id }}">
          <img
            *ngIf="item.imgUrl"
            src="{{ item.imgUrl[0] }}"
            alt="record cover"
            class="rounded imgHeart"
          />
        </a>

        <div></div>
        <a
          routerLink="/record/{{ item.genres[0] }}/{{ item.id }}"
          class="font-light hover:underline truncate text-lg"
          >{{ item.title }}
        </a>

        <a
          (click)="filterArtist(item.artists[0].name)"
          routerLink="/record/{{ item.id }}"
          class="font-light hover:underline truncate text-lg"
          >{{ item.artists[0].name }}</a
        >

        <!-- Add to cart user logged -->
        <button
          *ngIf="userAuth != null"
          (click)="addItemOnCart(item)"
          class="font-light underline-offset-8 decoration-coolBlack border-b-2 flex justify-between hover:border-b-coolBlack mt-2 text-lg"
        >
          <span>Add to cart</span><span>{{ item.price }} €</span>
        </button>

        <!-- add to cart user not logged -->
        <a
          *ngIf="userAuth == null"
          routerLink="/login"
          class="font-light underline-offset-8 decoration-coolBlack border-b-2 flex justify-between hover:border-b-coolBlack mt-2 text-lg"
        >
          <span>Add to cart</span><span>{{ item.price }} €</span>
        </a>
      </div>
    </div>
  </main>



  <!-- Item added to cart CARD -->
<div class="relative">

  <div *ngIf="itemAddedTocart && itemAddedToCartEvent" class="bg-white border-2 rounded-lg shadow-lg z-10 fixed right-6 bottom-6 w-full max-w-[400px] h-40 p-4 flex flex-col justify-center  gap-3">

    <div class="font-semibold text-lg mx-auto   ">Item added to cart</div>
    <hr class="border-bottom-[1px] border-[rgb(0,0,0,0.3)]" />


    <div
    class="mb-4 flex justify-start items-center gap-4 "
  >
  <!-- album cover -->
    <div

      class="max-w-[80px] w-full "
    >
      <img

        src="{{ itemAddedTocart.imgUrl }}"
        alt="record cover"
        class="rounded-sm w-full"
      />

    </div>


    <div class="flex flex-col  ">

      <div


        class="font-light lg:text-lg line-clamp-2 "
        >{{ itemAddedTocart.title }}
      </div>

      <div

        class="lg:text-lg   "
        >{{itemAddedTocart.artists[0].name }}</div
      >


    </div>



  </div>

  </div>
</div>

</div>
