<div class="px-3 py-3 max-w-[1700px] mx-auto mt-1 lg:mt-8">

  <!--  RECORD COVER - INFO -->
  <div
    *ngIf="record"
    class="flex flex-col lg:flex-row md:justify-center md:gap-10 mx-auto lg:p-8"
  >

<!-- Record Image -->

      <!-- Solo un immagine -->
      <div  *ngIf="(record.imgUrl) && (record.imgUrl.length == 1)"
        class="mx-auto max-w-[70%] lg:max-w-[600px] min-[1600px]:max-w[750px] rounded-sm"
      >
        <img

          src="{{ record.imgUrl[0] }}"
          alt="Record image"
        />
    </div>

    <!-- Più immagini -->
    <div *ngIf="(record.imgUrl) && (record.imgUrl.length > 1)" class="flex flex-col ">
      <div
      class="mx-auto max-w-[70%] lg:max-w-[600px] min-[1600px]:max-w[750px] rounded-sm min-h[500px] md:h-[600px] flex justify-center items-center"
    >
      <img
      class="object-cover md:max-h-[600px]"
        src="{{ currentPreviewImg }}"
        alt="Record image"
      />
  </div>
  <!-- Preview immagini -->
  <div class="flex items-center justify-center gap-2">
   <button (click)="changePreview(img)" *ngFor="let img of record.imgUrl" class="w-2/12 h-2/12">
     <img src="{{img}}" alt="" class="object-scale-down h-48 w-96 rounded-sm">
   </button>

  </div>
    </div>

    <!-- Record Data -->
    <div
      class="px-4 mt-6 lg:mt-0 w-full max-w-[750px] flex flex-col justify-start gap-4 lg:gap-8 xl:gap-12 2xl:gap-16"
    >
      <!-- Title - Artist - Year released -->
      <div>
        <h1 class="text-3xl md:text-4xl font-semibold">{{ record.title }}</h1>
        <a class="underline text-2xl md:text-3xl"
          ><h2>{{ record.artists[0].name }}</h2></a
        >

        <div class="flex justify-between items-center ">
          <div class="mt-4 font-semibold text-lg">€{{ record.price }}</div>
          <!-- Record in stock -->
          <div
            *ngIf="record.quantity && record.quantity > 0"
            class="flex items-center gap-1 text-lg"
          >
            <div
              class="w-4 h-4 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"
            ></div>
            <span *ngIf="record.quantity > 5">In stock</span>
            <span *ngIf="record.quantity <= 5"
              >Only {{ record.quantity }} left</span
            >
          </div>

          <!-- Record out stock -->
          <div
            *ngIf="record.quantity && record.quantity == 0"
            class="flex items-center gap-1 text-lg"
          >
            <div
              class="w-4 h-4 bg-red-400 border-2 border-white dark:border-gray-800 rounded-full"
            ></div>
            <span *>Out of stock</span>
          </div>
        </div>
      </div>

      <hr class="border-bottom-[1px] border-slate-300" />

      <!-- Record info -->
      <div>
        <div class="text-lg">
          <span class="font-semibold">Released: </span
          >{{ record.released_formatted }}
        </div>
        <div class="text-lg">
          <span class="font-semibold">Format: </span
          >{{ record.formats[0].name }} {{ record.formats[0].qty }}x{{
            record.formats[0].descriptions | separateArrayString
          }}
        </div>
        <div class="text-lg">
          <span class="font-semibold">Genre: </span>{{ record.genres }}
          <span *ngIf="record.styles.length > 0"
            >| {{ record.styles | separateArrayString }}</span
          >
        </div>
        <div class="text-lg">
          <span class="font-semibold">Barcode: </span>{{ record.barcode }}
        </div>
        <div class="text-lg">
          <span class="font-semibold">Label: </span>{{ record.labels[0].name}}
        </div>
      </div>

      <hr class="border-bottom-[1px] border-slate-300" />

      <!-- Button Buy and favourite -->
      <div class="flex gap-1 justify-center items-center text-lg">
        <button
          class="w-full h-12 bg-black py-2 px-4 text-white rounded-md max-w-xs"
        >
          Add to cart
        </button>


        <!-- fav button -->
        <button
        (click)="addRecordToWantedList()"
        data-tooltip-target="tooltip-light" data-tooltip-style="light"
          class="w-full h-12 border-2 py-1 border-red-400 rounded-md flex justify-center items-center text-black max-w-[80px]  hover:bg-red-400 hover:text-white hover:border-red-700
          focus:bg-red-400 focus:text-white focus:border-red-700 transition-colors"
        >
        <i class="fa-regular fa-heart text-xl"></i>
        </button>

        <!-- toolpit fav button -->
        <!-- <div *ngIf="!userData" id="tooltip-light" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip">
          Please login to use favourite features
          <div class="tooltip-arrow" data-popper-arrow></div>
      </div> -->


        <!-- collection -->
        <button
        data-tooltip-target="tooltip-light" data-tooltip-style="light"
          class="w-full h-12 border-2 py-1 border-blue-500 rounded-md flex justify-center items-center text-black max-w-[80px]  hover:bg-blue-500 hover:text-white hover:border-blue-700 transition-colors"
        >
        <i class="fa-regular fa-bookmark text-xl"></i>

        </button>
      </div>

      <hr class="border-bottom-[1px] border-slate-300" />
    </div>
  </div>

  <!-- RECORD TRACKLIST -->
  <div *ngIf="record" class="mx-auto px-5 lg:px-10 lg:max-w-[1550px] text-lg">
    <div class="text-lg mt-14 mb-4">Tracklist</div>
    <hr class="border-bottom-[1px] border-slate-300" />

    <div *ngFor="let track of record.tracklist">
      <div *ngIf="track.type_ == 'track'">
        <div class="flex justify-between">
          <div>
            <span class="mr-4">{{ track.position }}</span
            ><span>{{ track.title }}</span>
          </div>

          <span>{{ track.duration }}</span>
        </div>
        <hr class="border-bottom-[1px] border-slate-300" />
      </div>
    </div>
  </div>
</div>
