<!-- Carousel  -->
<div id="controls-carousel" class="w-full  relative xl:my-8" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="relative h-[200px] overflow-hidden  md:h-[300px] lg:h-[420px] 2xl:h-[540px]">
       <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="assets/Banners/sigurros-atta-real.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
          <img src="assets/Banners/sigurros-atta-real.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="assets/Banners/sigurros-atta-real.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img src="assets/Banners/sigurros-atta-real.png" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
      </div>

  </div>
  <!-- Slider controls -->
  <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 ">
          <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4"/>
          </svg>
          <span class="sr-only">Previous</span>
      </span>
  </button>
  <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 g">
          <svg class="w-4 h-4 text-white dark:text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
          </svg>
          <span class="sr-only">Next</span>
      </span>
  </button>
</div>

<!-- MAIN -->
<main class="px-3 py-3 max-w-[1700px] mx-auto ">

  <!-- Last item added -->
  <h1 class="text-2xl tracking-wider mb-3">Last records added on Laika</h1>
  <div
    class="mx-2 grid gap-4 grid-cols-2 sm:grid-cols-3 lg:grid-cols-4  2xl:grid-cols-6"
  >
    <div *ngFor="let item of lastAddedItems" class="mb-4 mx-auto ">
      <a routerLink="/record/{{item.genres[0]}}/{{ item.id }}">
        <img
          src="https://m.media-amazon.com/images/I/81NaE+lIhBL._AC_SL1400_.jpg"
          alt="record cover"
          class="rounded-sm"
        />
      </a>

        <a
          routerLink="/record/{{item.genres[0]}}/{{ item.id }}"
          class="font-light truncate  hover:underline mt-1 "
          >{{ item.title }}</a
        >
<br>
        <a
          routerLink="/record/{{ item.id }}"
          class="font-light  hover:underline"
          >{{ item.artists[0].name }}</a
        >


      <a
        routerLink="/record/{{ item.id }}"
        class="font-light  underline-offset-8 decoration-coolBlack border-b-2  flex justify-between hover:border-b-coolBlack mt-2"
      >
        <span>Buy</span><span>{{ item.price }} €</span>
      </a>
    </div>
  </div>
</main>
