<div class="p-5 mx-auto">
  <div>
    <h1 class="text-3xl font-semibold text-left mb-12 tracking-wide">
      Discogs
    </h1>

    <div class="flex  items-center gap-5  justify-center ">
      <!-- Form ricerca tramite barcode o catno -->
      <form
        #searchDiscogsForm="ngForm"
        (ngSubmit)="searchRecords(searchDiscogsForm)"
        class="bg-white rounded-md p-4 flex flex-col gap-2 xl:flex-row xl:gap-1"
      >
      <label class="text-xl mr-1" for="type">Search by type: </label>
        <input
          class="border-2 rounded-md p-1 focus:outline-none focus:border-gray-900 mr-1 focus:ring-0"
          type="text"
          name="type"
          placeholder="Insert {{selectedOption}}"
          ngModel
          required
        />

        <select
          id="selectField"
          name="selectField"
          [(ngModel)]="selectedOption"
          class="border-2 rounded-md p-1 focus:outline-none focus:border-gray-900 mr-1 focus:ring-0"
          required
        >
          <option value="" disabled>Select search type</option>
          <option value="barcode">Barcode</option>
          <option value="catno">Catno</option>
        </select>
        <button
          type="submit"
          class="bg-[rgb(66,66,66)] text-white py-1 px-2 rounded-md"
        >
          Search
        </button>
      </form>

      <!-- Form ricerca tramite titolo -->
      <form
        #searchDiscogsFormByTitle="ngForm"
        (ngSubmit)="searchRecordsByTitle(searchDiscogsFormByTitle)"
        class="bg-white rounded-md p-4 flex flex-col gap-2 xl:flex-row xl:gap-1"
      >
      <label class="text-xl mr-1 " for="type">Search by title: </label>
        <input
          class="border-2 rounded-md p-1 focus:outline-none focus:border-gray-900 mr-1 focus:ring-0"
          type="text"
          name="artist"
          placeholder="Insert artist"
          ngModel
          required
        />
        <input
          class="border-2 rounded-md p-1 focus:outline-none focus:border-gray-900 mr-1 focus:ring-0"
          type="text"
          name="title"
          placeholder="Insert title"
          ngModel
          required
        />

        <button
          type="submit"
          class="bg-[rgb(66,66,66)] text-white py-1 px-2 rounded-md"
        >
          Search
        </button>
      </form>
    </div>
  </div>

  <!-- Search result -->
  <div *ngIf="searchResult.length > 0" class="mt-10 ">
    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class=" overflow-x-auto">
            <table class="min-w-full text-left text-sm font-light">
              <thead class="border-b bg-[rgb(66,66,66)] text-white font-medium">
                <tr>
                  <th scope="col" class="px-3 py-2 xl:px-6 lg:xl-4 text-center text-xl hidden lg:block">Cover</th>
                  <th scope="col" class="px-3 py-2 xl:px-6 lg:xl-4 text-center text-xl">Barcode</th>
                  <th scope="col" class="px-3 py-2 xl:px-6 lg:xl-4 text-center text-xl">Catno</th>
                  <th scope="col" class="px-3 py-2 xl:px-6 lg:xl-4 text-center text-xl">Title</th>
                  <th scope="col" class="px-3 py-2 xl:px-6 lg:xl-4 text-center text-xl">Label</th>
                  <th scope="col" class="px-3 py-2 xl:px-6 lg:xl-4 text-center text-xl">Country</th>
                  <th scope="col" class="px-3 py-2 xl:px-6 lg:xl-4 text-center text-xl">Year</th>
                  <th scope="col" class="px-3 py-2 xl:px-6 lg:xl-4 text-center text-xl">Community</th>
                  <th scope="col" class="px-3 py-2 xl:px-6 lg:xl-4 text-center text-xl">
                    Add to Databse
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let item of searchResult; index as i"
                  class="border-b bg-white hover:bg-gray-300"
                >
                  <td
                    class="px-3 py-2  font-medium text-center hidden lg:block"
                  >
                    <img
                      class="w-[60px] h-[60px] xl:w-[100px] xl:h-[100px]"
                      src="{{ item.thumb }}"
                    />
                  </td>

                  <td class="px-3 py-2  text-center text-lg">
                    {{ item.barcode[0] }}
                  </td>
                  <td class="px-3 py-2  text-center text-lg">
                    {{ item.catno }}
                  </td>
                  <td class="px-3 py-2  text-center text-lg">
                    {{ item.title }}
                  </td>
                  <td class="px-3 py-2  text-center text-lg">
                    {{ item.label[0] }}
                  </td>
                  <td class="px-3 py-2  text-center text-lg">
                    {{ item.country }}
                  </td>
                  <td class="px-3 py-2  text-center text-lg">
                    {{ item.year }}
                  </td>
                  <td class="px-3 py-2  text-center text-lg">
                    <div>
                      <span class="font-semibold">H: </span
                      >{{ item.community.have }}
                    </div>
                    <div>
                      <span class="font-semibold">W: </span
                      >{{ item.community.want }}
                    </div>
                  </td>

                  <td class="px-3 py-2  text-center text-lg">
                    <button
                      onclick="my_modal_1.showModal()"
                      (click)="addToDatabase(item.id,item.barcode[0], item.catno)"
                      class="bg-[rgb(66,66,66)] text-white py-1 px-2 xl:py-2 xl:px-4 rounded-md hover:bg-black transition-colors"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-5 h-5 xl:w-7 xl:h-7"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M12 4.5v15m7.5-7.5h-15"
                        />
                      </svg>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal insert price -->
  <app-add-item-modal [recordInfo]="recordInfo" [barcode]="barcode" [catno]="catno"></app-add-item-modal>
</div>
