<div class="p-5">
  <div>

    <h1 class="text-2xl font-semibold text-center">Search records on Discogs' API</h1>

    <form #discogsSearchForm="ngForm" (ngSubmit)="searchRecords(discogsSearchForm)">


      <input class="border-2 rounded-md  p-1  focus:outline-none focus:border-gray-900 mr-1" type="text"  name="barcode" placeholder="Insert barcode..." ngModel required/>

    <button type="submit" class="bg-[rgb(66,66,66)] text-white py-1 px-2 rounded-md"> Search </button>

    </form>
  </div>


  <!-- Search result -->
  <div *ngIf="searchResult.length > 0" class="mt-10">

    <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-hidden">
            <table class="min-w-full text-left text-sm font-light">
              <thead
                class="border-b bg-[rgb(66,66,66)] text-white font-medium ">
                <tr>
                  <th scope="col" class="px-6 py-4 text-center">#</th>
                  <th scope="col" class="px-6 py-4 text-center">Barcode</th>
                  <th scope="col" class="px-6 py-4 text-center">Catno</th>
                  <th scope="col" class="px-6 py-4 text-center">Title</th>
                  <th scope="col" class="px-6 py-4 text-center">Country</th>
                  <th scope="col" class="px-6 py-4 text-center">Year</th>
                  <th scope="col" class="px-6 py-4 text-center">Community Have</th>
                  <th scope="col" class="px-6 py-4 text-center">Community Want</th>
                  <th scope="col" class="px-6 py-4 text-center">Add to Databse</th>



                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of searchResult; index as i"
                  class="border-b bg-neutral-100 hover:bg-gray-300">

                  <td class="whitespace-nowrap px-6 py-4 font-medium text-center">{{i}}</td>
                  <td class="whitespace-nowrap px-6 py-4 text-center">{{item.barcode[0]}}</td>
                  <td class="whitespace-nowrap px-6 py-4 text-center">{{item.catno}}</td>
                  <td class="whitespace-nowrap px-6 py-4 text-center">{{item.title}}</td>
                  <td class="whitespace-nowrap px-6 py-4 text-center">{{item.country}}</td>
                  <td class="whitespace-nowrap px-6 py-4 text-center">{{item.year}}</td>
                  <td class="whitespace-nowrap px-6 py-4 text-center">{{item.community.have}}</td>
                  <td class="whitespace-nowrap px-6 py-4 text-center">{{item.community.want}}</td>
                  <td class="whitespace-nowrap px-6 py-4 flex justify-center items-center"><button class="bg-[rgb(66,66,66)] text-white py-2 px-4 rounded-md">+</button></td>




                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
